body {
  font-family: "arial", sans-serif;
  background-color: #E1F0F9;
  margin: 0;
}

/* h1 {
  font-family: "poppinsBold", sans-serif;
} */


.swiper {
  width: 100%;
  height: auto;
}

.mainSwiper .swiper-wrapper {
  gap: 0rem !important;
}

.mainSwiper .swiper-slide {
  padding: 1em !important;
}

.thumbsSwiper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #E1F0F9;
  z-index: 9999;
  border-top: 10px solid rgb(15 15 15 / 30%);
  padding: 1.1em;
  text-align: center;
  margin: auto;
}

.thumbsSwiper .swiper-wrapper {
  display: flex;
  gap: 0;
}

.thumbsSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  text-align: center;
}

.thumbsSwiper .swiper-slide button {
  display: block;
  width: 100%;
  padding: .75rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  background-color: #e1f0f9;
  border: 0;
  border-radius: 100px;
}

.thumbsSwiper .swiper-slide button.active {
  background: #292929 !important;
  color: #fff;
}

.thumbsSwiper .swiper-slide button:hover {
  background-color: #292929;
  color: #fafafa;
  transition: .2s ease-in;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #e1f0f9;
  color: #292929;
  border: 3px solid #292929;
  border-radius: 100px;
  padding: 13px;
  width: 48px;
  height: 48px;
  position: fixed;
}

.swiper-button-prev {
  left: 1em !important;
}

.swiper-button-next {
  right: 1em !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #292929;
  color: #fafafa;
}

@media screen and (max-width: 1110px) {
  .thumbsSwiper .swiper-slide button {
    padding: .6rem 1em;
  }
}

@media screen and (max-width: 990px) {
  .thumbsSwiper .swiper-slide button {
    padding: .6rem 2em;
  }
}

@media screen and (max-width: 840px) {
  .thumbsSwiper .swiper-slide button {
    padding: .6rem 1em;
  }
}

@media screen and (max-width: 768px) {

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .swiper-slide p {
    display: block;
  }
}

@media screen and (max-width: 412px) {
  .thumbsSwiper .swiper-slide button {
    padding: .6rem 0em;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 380px) {
  .thumbsSwiper .swiper-slide button {
    padding: .5rem .4rem;
    font-size: .85rem;
  }
}

@media screen and (max-width: 320px) {
  .thumbsSwiper .swiper-slide button {
    font-size: .8rem;
  }
}


.bg-title {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.bg-text {
  color: #292929 !important;
  background-color: none !important;
}

.big-welcome-logo {
  width: 20% !important;
  margin: 30px auto;
  text-align: center !important;
}

/* explore brum slide  */
.instagram-row {
  width: 100%;
}

.instagram-row>div {
  min-width: 0;
  max-height: auto;
  margin-bottom: 2em;
}

.instagram-media {
  width: 100% !important;
  max-width: 100% !important;
  min-width: 0 !important;
  margin: 0 auto !important;
}

@media screen and (max-width: 600px) {
  .row {
    --bs-gutter-x: 0;
  }
}

/* end of explore brum slide  */


.tabs-section {
  width: 100%;
  margin: 0px auto;
  margin-top: 0em;
  /* background: #EFEFEF; */
  padding: 10px;
  border-radius: 100px;
}

.tab-inner {
  padding: 3em;
  margin-bottom: 5em;
}
.tab-inner h3 {
  margin-top: 3em;
}

#pills-tab {
  display: flex;
  gap: 0.75rem;
}

.nav-link:hover {
  border: 2px solid #292929;
  color: #292929 !important;
  background: #EFEFEF !important;
  transition: 0.2s ease-in;
}

.nav-fill .nav-item .nav-link {
  width: 100%;
  background: #292929;
  color: #fafafa;
  font-weight: 800;
  margin: 0;
  border-radius: 100px;
  padding: 15px;
}

.nav-link.active {
  background: #fafafa !important;
  color: #292929 !important;
  border: 2px solid #292929;
  transition: 0.2s ease-in;
}



/* societies slide  */
/*cta block*/
.cta-block {
  background: #e1f0f9;
  color: #292929;
  width: 60%;
  border-radius: 12px;
  padding: 45px;
  margin: auto;
  position: relative;
  border: 2px solid #292929;
  margin-top: 0em;
  margin-bottom: 4em;
}

.soc-pop-heading {
  font-size: 2rem;
  font-weight: 800;
}
.soc-col {
  width: 100% !important;
  margin: 15px auto;
}
.cta-icon-heading {
  width: 100px;
  height: auto;
  margin: auto;
  text-align: center;
}

.cta-icon {
  position: absolute;
  top: -1.8rem;
  right: -1em;
  width: 45px !important;
  height: auto !important;
  z-index: 100;
}

.mainBtn {
  background: #F4AA82;
  color: #292929;
  display: block;
  padding: 10px;
  margin-top: 2.5em;
  font-family: 'aktiv-grotesk', sans-serif !important;
  font-size: 1.1rem;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  border-bottom: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 100px !important;
  border: 2px solid #292929;
  box-shadow: 2px 2px;
  text-decoration: none;
}

.mainBtn:hover {
  background: #F4AA82;
  color: #292929;
  transition: 0.2s;
  box-shadow: 0px 0px;
  border: 1px solid #292929;
  transform: translateY(2px) !important;
}

.main-btn {
  margin: 0;
  margin-top: 2em;
}

.giag-climbing {
  width: 100%;
  margin: 5px auto;
  text-align: center;
  border-radius: 5px;
}

.quiz-wrapper {
  padding: 0 5em 5em 5em;
  margin-top: 3em;
}

.join-wrapper {
  margin: 5px auto;
  text-align: center;
}

/* add membership blocks */
.society-blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  margin-top: 5em !important;
  margin-bottom: 5em;
}

.society-blocks .block {
  flex: 1 1 0;
  width: auto;
  margin: 0;
  padding: 24px;
  background: none;
  border-radius: 12px;
  border: 1px solid #292929;
  box-sizing: border-box;
}

.block-num {
  font-weight: 800;
  font-size: 1.5rem;
}

.block-title {
  font-size: 1.5rem;
  font-family: 'poppins', sans-serif;
  text-align: center;
  margin-top: 1em;
}

.block-desc {
  text-align: center;
}

.col-4 {
  text-align: center
}

.block-icons {
  height: 40px;
  width: auto;
}


@media screen and (max-width: 1200px) {
  .society-blocks .block {
    width: 30%;
  }

  .block-icons {
    height: 40px;
    width: auto;
  }
}

@media screen and (max-width: 991px) {
  .society-blocks .block {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .quiz-wrapper {
    padding: 3em;
  }

  .society-blocks .block {
    flex: 1 1 calc(50% - 10px);
  }

  .society-blocks {
    margin-top: 3em !important;
    gap: 40px;
  }

  .cta-block {
    width: 100% !important;
    margin-bottom: 0em;
  }
}

@media screen and (max-width: 575px) {
  .quiz-wrapper {
    padding: 2em 0em;
  }

  .society-blocks .block {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 400px) {
  .cta-block {
    padding: 30px !important;
  }
}